.big > img {
	position: relative;
	width:100%;
	min-height: 15%;
	margin:0;
	background-color: rgba(74,95,112,0.3);
	mix-blend-mode: multiply;
}

.pod{
    background: url(../Pics/sens.jpg);
    max-width: 700px;
    margin: 0 auto 35px auto;
    float:left;
}

.pod > div{
    padding: 1rem;
}

.audio{
    border-radius: 0 0 10px 10px;
    background-color: rgba(74,95,112,0.8);
}

.pod{
    border-radius: 10px;
}

.audio > div{
    background-color: white;
    padding: 1em;
}

.content h2{
	font-family: "WorkSans", sans-serif;
	font-weight: bold;
	font-size: 2rem;
    color: #ffffff;
}

.content h2 span{
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 1.7rem;
}

.content h2 span,
.content time,
.audio > div
{
    color: #fffff8;
}

.content > p {
	font-family: "OpenSans", sans-serif;
	font-weight: normal;
	font-size: 1.3rem;
    color:#fff;
}

.content > p > a:visited,
.content > p > a {
    color: orange;
    text-decoration: none;
    border-bottom: none !important;
    
}


.audio > div > span{
    color: rgb(31, 152, 199);
    text-decoration: none;
    
}

/* botones */


.button {
    color: #fffff8;
    background: #10bbf1;
    height: 58px;
    border: 1px solid #fffff8;
    font: 700 20px "OpenSans", "Raleway", sans-serif;
    padding: 0 21px;
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: 250px;
    text-align: center;
    -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {
    background: #40c9f4;
    border-color: #40c9f4;
}

.button:active {
    background: #0b97c3;
    border-color: #0b97c3;
}

a.button {
    text-decoration: none;
    display: inline-block;
    line-height: 54px;
    color: #fffff8;
}

a.button:hover {
    color: white
}

a.button:active {
    color: white
}

a.button.button-stripe {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: white;
}

a.button.button-stripe:hover {
    color: rgb(74,95,112);
    background-color: #fffff8;
    border-color: #fffff8;
}

a.button.button-stripe:active {
    color: #222222;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}


/* layout */

.pod .content
{
    padding-left: 1.7em;
}

.pod > img{
    position: absolute;
    display: inline-block;
    height: 200px;
    margin: 20px 0 20px 45px;
}

.content > *{
    padding: .25em 0;
}


.content > time {
    display: block;
    margin-top: 1em;
    font-size: 1rem;
    font-family: "Hack", sans-serif;
}